@font-face {
  font-family: "Gill Sans";
  src: url("/path/to/gill-sans.ttf") format("truetype");
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: URL(/public/assets/images/cover-page.png);
  backdrop-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblack-color: #1b1a17;
  --lightblack-color: #1f1e1b;
  --darkorange-color: #a35709;
  --lightorange-color: #ff8303;
  --whitetext-color: #f0e3ca;
}

.container_todoApp {
  background-color: var(--darkblack-color);
  height: clamp(500px, 100vh, 844px);
  width: 390px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .container_todoApp {
    height: 100vmax;
    width: 100%;
  }
}

.container_todoApp form {
  height: 70px;
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.container_todoApp form .inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 267px;
  height: inherit;
}

.container_todoApp form .inputs input {
  width: inherit;
  height: 32px;
  border: var(--lightorange-color) 1px solid;
  background-color: var(--lightblack-color);
  outline: none;
  border-radius: 4px;
  padding-left: 0.875em;
  color: var(--whitetext-color);
  font-weight: 100;
}

.container_todoApp form .inputs input::placeholder {
  color: var(--whitetext-color);
  font-size: 0.875em;
  font-weight: 500;
  margin-left: 0.875em;
}

.container_todoApp form button.btnAddTask {
  width: 70px;
  height: inherit;
  background-color: transparent;
  border-radius: 4px;
  border: var(--lightorange-color) solid 2px;
  font-size: 30px;
  font-weight: 100;
  color: var(--lightorange-color);
  cursor: pointer;
}

.container_todoApp .todoApp {
  position: relative;
  width: 100%;
}

.container_todoApp .todoApp .listTasks > p {
  position: absolute;
  top: 145px;
  text-align: center;
  width: 100%;
  color: var(--whitetext-color);
  font-family: inter;
  font-size: 1.5em;
  font-weight: 400;
  &::before,
  &::after {
    content: "";
    background-color: var(--lightorange-color);
    width: 100px;
    height: 3px;
    top: -10px;
    left: 120px;
    position: absolute;
    border-radius: 5px;
  }
  &::after {
    top: 40px;
  }
}

/* ======================= */

.listTasks .task {
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.listTasks .task .options {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.listTasks .task .options.active {
  max-height: 100px;
  opacity: 1;
}

.listTasks .task .container {
  transition: 0.3s all ease-in-out;
  background-color: var(--lightblack-color);
  border: solid var(--darkorange-color) 2px;
  border-radius: 8px;
  width: 345px;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
  margin-top: 15px;
}

.listTasks .task .container .content {
  width: 250px;
}

.listTasks .task .container .content h1,
.listTasks .task .container .content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.375em;
  color: var(--whitetext-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.listTasks .task .container .content p {
  width: 265px;
  font-size: 0.875em;
  font-weight: 400;
}
.listTasks .task .container .removeTaskBtn {
  width: 32px;
  height: 32px;
  background-color: var(--darkblack-color);
  border: solid var(--darkorange-color) 1px;
  border-radius: 5px;
  color: var(--lightorange-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--lightblack-colord);
    color: var(--darkorange-color);
    box-shadow: 0px 0px 5px 1px var(--lightorange-color);
  }
}

.listTasks .task .editTask,
.listTasks .task .shareTask {
  width: 36px;
  height: 36px;
  background-color: var(--lightblack-color);
  border: solid 1px var(--darkorange-color);
  color: var(--whitetext-color);
  border-radius: 6px;
  margin-left: 6px;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--lightblack-colord);
    color: var(--darkorange-color);
    box-shadow: 0px 0px 5px 1px var(--lightorange-color);
  }
}

.container_todoApp .co_alert {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1b1a179d;
  display: grid;
  place-items: center;
}

.container_todoApp .co_alert .alert {
  width: 281px;
  height: 143px;
  background-color: var(--lightblack-color);
  border-top: solid var(--darkorange-color) 4px;
  display: grid;
  place-items: center;
}

.container_todoApp .co_alert .alert p {
  color: var(--whitetext-color);
  font-size: 1.125em;
  font-weight: 400;
}

.container_todoApp .co_alert .alert > div button {
  width: 64px;
  height: 24px;
  background-color: var(--lightblack-color);
  border: var(--darkorange-color) solid 1px;
  color: var(--whitetext-color);
  border-radius: 4px;
  margin-left: 5px;
  font-size: 0.625em;
  font-weight: 100;
  cursor: pointer;
}
